body {
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background: black;
    color: blueviolet;
    font-size: 20px;
}

img {
    width: 30%;
    height: 30%;
}

#container {
    padding: 20px;
}

#directions-text {}